.distill-site-nav {
  background-color: #014E72;
}

d-article a {
  border-bottom: 2px solid #E3865B;
  text-decoration: none;
}

.nav-search {
    font-size: large;
}

.nav-right {
    color: #E3865B;
}

#iltis {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
